body {
    background: var(--bg);
    font-family: 'Nunito Sans', sans-serif;
}

#root {
    overflow: hidden;
}

.container {
    --grid-min-size: 16rem;
    padding: 1% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-min-size), 0.8fr));
    grid-gap: 3rem;
    justify-content: center;

    &.container-filter {
        display: block;
        padding: 3% 5%;
    }

    &.container-pagination {
        display: flex;
        padding: 1%;
    }

    &.container-no-match {
        display: flex;
        flex-direction: column;
        p {
            color: var(--text);
            font-size: 25px;
            margin: 0 auto;
            
            a {
                color: var(--text);
            }
        }
    }
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5% 5%;
    background: var(--elements);
    box-shadow: var(--shadow);
    color: var(--text);
    transition: color 0.3s, background-color 0.3s;

    label {
        margin: 0 0 0 auto;
        align-self: center;
        user-select: none;
        cursor: pointer;
        input {
            display: none;
        }
    }
}

.box {
    display: flex;
    flex-direction: column;
    background: var(--elements);
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: background-color 0.3s;

    .text {
        padding: 4% 2% 15% 10%;
        color: var(--text);
        transition: color 0.3s;

        h3 {
            margin: 5px 0 15px 0;
        }

        p:not(.info p) {
            font-weight: 600;
            margin: 0;
            span {
                font-weight: 300;
            }
        }
    }

    .img {
        display: flex;
        width: 100%;
        height: 200px;
        background-size: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-repeat: no-repeat;
        background-position: center;
        transition: opacity 0.3s;
    }
    
    a {
        position: relative;

        .click {
            position: absolute;
            color: var(--text);
            top: 55px;
            font-weight: 600;
            padding: 0 10px;
            opacity: 0;
            font-size: 20px;
        }

        &:hover {

            .img {
                opacity: 0.3;
            }

            .click {
                opacity: 1;
            }
        }
    }
}

a:focus {
    outline: 2px dashed var(--text);
}

// Loading component

.container-loading {
    display: flex;
    height: 75vh;
}

.loading {
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    align-self: center;
    
    div {
        display: flex;
        justify-content: space-around;
    }
    
    .loading-circle {
        display: block;
        width: 1rem;
        height: 1rem;
        background: #FE5F55;
        border-radius: 50%;
    }
}

//  Pagination

.pagination {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    justify-content: center;

    li {
        padding: 17px;
        background: var(--elements);
        box-shadow: var(--shadow);
        transition: background-color 0.3s;
        margin-top: 5px;
        outline: none;

        &:not(.active):hover {
            background: var(--focused);
        }
    }

    a {
        color: var(--text);
        padding: 15px 5px;
        cursor: pointer;
        user-select: none;
        transition: color 0.3s;
    }

    .active {
        background: var(--text);
        a {
            color: var(--elements);
        }
    }
}


.filters {
    display: flex;
    flex-wrap: wrap;

    .search {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        margin: 0 10px 0 0;

        label {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        svg {
            position: absolute;
            top: 17px;
            left: 15px; 
        }

    }

    path {
        fill: var(--input);
        transition: fill 0.3s;
    }

    input {
        background: var(--elements);
        color: var(--input);
        border: 2px solid var(--elements);
        outline: none;
        padding: 15px 30px 15px 50px;
        border-radius: 5px;
        width: 100%;
        font-size: 14px;
        transition: color 0.3s, background-color 0.3s, border-color 0.1s ease-in;
        box-shadow: var(--shadow);

        &::placeholder {
            color: var(--input);
        }

        &:focus {
            border-color: var(--focused);
        }
    }

    .select {
        position: relative;
        background: var(--elements);
        color: var(--text);
        margin: 0 0 0 auto;
        border-radius: 6px;
        display: flex;
        width: 250px;
        box-shadow: var(--shadow);

        .selected {
            align-self: center;
            padding: 15px 75px 15px 22px;
            width: 100%;
            position: relative;

            svg {
                position: absolute;
                right: 16px;
                top: 18px;
            }
        }

        & .selected, .list li {
            user-select: none;
            cursor: pointer;
        }

        .list {
            position: absolute;
            top: 58px;
            left: 0px;
            width: 100%;
            display: block;
            background: var(--elements);
            border-radius: 5px;
            box-shadow: inherit;
            transform-origin: top right;
            transition: transform 0.2s;
            z-index: 5000;

            ul {
                padding: 0;
                list-style: none;
                margin: 0;

                li {
                    padding: 10px 0 10px 22px;
                    transition: background-color 0.3s;

                    &:hover {
                        background: var(--focused);
                    }
                }
            }
        }
    }
}

button {
    background: none;
    border: none;
    font-size: inherit;
    color: var(--text);
    padding: 0;
    cursor: pointer;
    font-family: inherit;
    outline: none;
    transition: background-color 0.3s, color 0.3s;

    &:focus {
        outline: 2px dashed var(--text);
    }
}
// Details page

a {
    text-decoration: none;
}

.box.details {
    background: inherit;
    box-shadow: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'img text';
    grid-gap: 2rem;
    font-size: 16px;

    .img {
        display: block;
        width: inherit;
        height: 100%;
        align-self: center;
        grid-area: img;
        border-radius: initial;
    }

    .text {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        grid-area: text;
    }
}

.info .main {
    display: flex;

    & div:first-of-type {
        margin: 0 50px 50px 0;
    }
}

.info p {
    margin: 16px 0 !important;
}

.borders span {
    font-weight: 600 !important;
    color: var(--input);
}

.borders a {
    color: var(--text);
    background: var(--elements);
    padding: 5px 29px;
    margin: 5px;
    border-radius: 3px;
    display: inline-block;
    box-shadow: var(--shadow);
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background: var(--focused)
    }
}

.btn {
    background: var(--elements);
    color: var(--input);
    padding: 7px 60px;
    border-radius: 3px;
    font-weight: 600;
    box-shadow: var(--shadow);
    transition: color 0.3s, background-color 0.3s;

    &:hover {
        background: var(--focused);
    }
}

// Medias

@media screen and (max-width: 505px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 748px) {
    .filters .select {
        margin: 30px auto 20px 0;
    }
}

@media screen and (max-width: 674px) {

    .box.details {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'img'
            'text';

        .text {
            flex-direction: column;
        }

        .img {
            height: 35vh;
        }

        .borders {
            margin-top: 30px;
        }
    }

    .info .main {
        flex-direction: column;
    }
}

@media screen and (min-width: 675px) and (max-width: 1125px) {
    .box.details .img {
        height: 57%;
        align-self: flex-start;
    }

    .info .main {
        flex-wrap: wrap;
    }
}
