body {
    background: var(--bg);
    font-family: 'Nunito Sans', sans-serif
}

.container {
    --grid-min-size: 16rem;
    padding: 1% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-min-size), 1fr));
    grid-gap: 3rem;
    justify-content: center;

    &.container-filter {
        display: block;
        padding: 3% 5%;
    }

    &.container-pagination {
        display: flex;
        padding: 1%;
    }

    &.container-no-match {
        display: flex;

        p {
            color: var(--text);
            font-size: 25px;
        }
    }
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5% 5%;
    background: var(--elements);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    color: var(--text);
    transition: color 0.3s, background-color 0.3s;

    label {
        margin: 0 0 0 auto;
        align-self: center;
        user-select: none;
        cursor: pointer;
        input {
            width: 0;
            height: 0;
        }
    }
}

.box {
    display: flex;
    flex-direction: column;
    background: var(--elements);
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;

        .text {
            padding: 4% 2% 15% 10%;
            color: var(--text);
            transition: color 0.3s;

            h3 {
                margin: 5px 0 15px 0;
            }

            p {
                font-weight: 600;
                margin: 0;
                span {
                    font-weight: 300;
                }
            }
        }

        .img {
            display: flex;
            width: 100%;
            height: 200px;
            background-size: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-repeat: no-repeat;
            background-position: center;
        }

}

// Loading component

.container-loading {
    display: flex;
    height: 75vh;
}

.loading {
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    align-self: center;
    
    section {
        display: flex;
        justify-content: space-around;
    }
    
    .loading-circle {
        display: block;
        width: 1rem;
        height: 1rem;
        background: #FE5F55;
        border-radius: 50%;
    }
}

//  Pagination

.pagination {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    justify-content: center;

    li {
        padding: 17px;
        background: var(--btn);
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
        margin-top: 5px;
    }

    a {        
        
        color: var(--text);
        padding: 15px 5px;
        cursor: pointer;
        user-select: none;
        transition: color 0.3s;
        
        &:focus {
            outline: none;
        }
    }

    .active {
        background: var(--text);
        a {
            color: var(--btn);
        }
    }
}


.filters {
    display: flex;
    flex-wrap: wrap;

    .search {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 0.2;
    }

    svg {
        position: absolute;
        top: 17px;
        left: 15px;

        path {
            fill: var(--input);
            transition: fill 0.3s;
        }
    }
    input {
        background: var(--elements);
        color: var(--input);
        border: 2px solid var(--elements);
        outline: none;
        padding: 15px 30px 15px 50px;
        border-radius: 5px;
        width: 100%;
        font-size: 14px;
        transition: color 0.3s, background-color 0.3s, border-color 0.1s ease-in;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);

        &::placeholder {
            color: var(--input);
        }

        &:focus {
            border-color: var(--focused);
        }
    }
}

@media screen and (max-width: 673px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}
